@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

:root {
    --main-font: 'Arial', sans-serif;
    --main-font2: 'Aldrich', sans-serif;
    --secondary-font: 'Silkscreen', cursive;
    --main-color: #BDF9A1;
    --main: #1C1B22;
    --main2: #28272d;
    --main3: #2d2d2f;
    --main4: #111;
    --white: #fff;
    --black: #000;
    --red: #ff5a5a;
    --orange: #ffc55a;
    --blue: #5ac3ff;
    --green: #62ff5a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    background-color: var(--main);
    color: var(--white);
}

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: var(--main-color);
}

.wrapper {
    width: 60%;
    margin: 0 auto;
}

.alert-danger {
    background-color: #ff5a5aa9;
    border: #ff5a5aa9 1px solid;
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.alert-danger ul {
    padding: 0 15px;
}

nav {
    background-color: var(--main);
    /* position: fixed; */
    width: 100%;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navbar a {
    color: var(--white);
    text-decoration: none;
    margin: 0 10px;
}

.navbar a:hover {
    color: var(--main-color);
}

.nav-links {
    font-family: var(--main-font2);
}

.nav-right {
    display: flex;
    font-family: var(--main-font);
}

.nav-right > .dropdown > .dropbtn {
    font-family: var(--main-font);
}

.nav-btn {
    border: none;
    background: transparent;
    font-size: 16px;
}

.nav-right button:hover {
    cursor: pointer;
    color: var(--main-color);
}

.nav-links i {
    color: var(--main-color);
}

.dropbtn {
    font-family: var(--main-font2);
    background-color: transparent;
    color: var(--white);
    font-size: 16px;
    border: none;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    text-align: start;
    display: none;
    position: absolute;
    background-color: var(--main);
    min-width: 180px;
    max-width: 180px;
    z-index: 1;
}
  
.dropdown-content a {
    color: var(--white);
    padding: 6px;
    text-decoration: none;
    display: block;
}

.dropdown-content p {
    color: var(--white);
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content button {
    color: var(--white);
    padding: 6px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {display: block;}

/* HERO SECTION */
.hero {
    background: url("../img/banner.jpg") no-repeat center center/cover;
    height: 500px;  
}

.here-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.hero-text h2 {
    max-width: 590px;
    font-size: 72px;
    font-weight: bold;
    font-family: var(--main-font2);
}

.hero-text {
    font-size: 22px;
    text-align: center;
}

.hero span {
    color: var(--main-color);
}

.sub-slogan {
    font-size: 18px;
    font-family: var(--secondary-font);
}

.hero-text > p {
    margin-bottom: 25px;
}

.hero a {
    padding: 15px;
    background-color: var(--main-color);
    text-decoration: none;
    color: var(--black);
    font-family: var(--main-font2);
}

/* SMALL HERO SECTION */
.hero-small {
    background: url("../img/1204.jpg") no-repeat center center/cover;
    height: 250px;  
}

.here-small-content {
    display: flex;
    align-items: center;
    flex-direction: column;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);   
}

.hero-small-text h2 {
    max-width: 590px;
    font-size: 72px;
    font-weight: bold;
    font-family: var(--main-font2);
}

.hero-small-text {
    font-size: 22px;
    text-align: center;
}

.hero-small span {
    color: var(--main-color);
}

.hero-small-text > p {
    margin-bottom: 25px;
}

.hero-small a {
    padding: 15px;
    background-color: var(--main-color);
    text-decoration: none;
    color: var(--black);
    font-family: var(--main-font2);
}

/* card-section SECTION */
.card-section {
    margin: 10px 0;
}
.card-section img {
    height: 300px;
    width: 280px;
    max-height: 300px;
    max-width: 280px;
}

.card-section a {
    text-decoration: none;
    color: var(--white);
}

.card-section-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    border: 1px transparent solid;
    margin: 10px 0;
}

.card-section h2 {
    font-size: 36px;
    font-family: var(--main-font2);
}

.card-section-header {
    text-align: center;
    margin: 25px;
}

.card-section-header i {
    color: var(--main-color);
}

.card-section-header a {
    font-size: 20px;
    font-family: var(--main-font2);
}

.card-section-header a:hover {
    color: var(--main-color);
}

.card-section h3 {
    font-size: 36px;
    font-family: var(--main-font2);
}

.card-section h3:hover {
    color: var(--main-color);
}

.card-image {
    padding: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-text {
    width: 100%;
    padding: 25px 0;
}

.card:hover {
    cursor: pointer;
    border-radius: 10px;
    border: 1px var(--main-color) solid;
}

.card-text p {
    font-size: var(--main-font);
}

.card-section-price {
    font-family: var(--secondary-font);
    color: var(--main-color);
}

hr {
    margin: 5px 5px;
    border: 1px solid var(--main-color);
    width: 100%;
}

.cards-components {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 315px;
    width: 100%;
    
}

.cards-components {
    color: var(--black);
}

.cards-components p {
    font-size: 15px;
}

.cards-components button {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--main-color);
    border: none;
    color: var(--black);
    font-family: var(--main-font2);
    width: 100%;
}

/* DETAIL SECTION */
.detail-flex {
    margin: 75px 0;
    display: flex;
    justify-content: space-evenly;  
    flex-direction: row;
}

.detail-img {
    width: 450px;
    max-width: 450px;
}

.detail {
    width: 650px;
    max-width: 650px;
}

.detail-img img {
    width: 450px;
    max-width: 450px;
}

.accordion {
    font-family: var(--main-font2);
    color: var(--white);
    background-color: transparent;
    cursor: pointer;
    padding: 5px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: var(--main-font2);
    transition: 0.4s;
    border-top: var(--main-color) 1px solid;   
}
  
.panel {
    padding: 5px 0;
    display: none;
    overflow: hidden;
}

.panel ul li::before {
    padding: 0 5px;
    content: "\2022";
    color: var(--main-color);
}

.panel > section {
    margin: 10px 0;
}

.panel > section > h3 {
    margin-top: 5px 0;
}

.accordion:after {
    content: '\002B';
    color: var(--main-color);
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
    display: block;
}

.detail-components button {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--main-color);
    border: none;
    color: var(--black);
    font-family: var(--main-font2);
    font-size: 15px;
    width: 100%;
}

.detail-header {
    margin-bottom: 15px;
}

.detail-header > p {
    color: var(--main-color);
    font-family: var(--main-font2);
    margin: 10px 0;
}

.detail-header > p > span {
    color: var(--white);
}

.detail-header-price p{
    font-family: var(--main-font2);
    color: var(--white);
}

/* ADMIN NAVBAR */
.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    font-size: 16px;
}

.sidenav span {
    color: var(--main-color);
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: var(--white);
    display: block;
}

.sidenav p {
    padding: 6px 8px 6px 16px;
    font-size: 20px;
}
  
.sidenav a:hover {
    color: var(--main-color);
}

.sidenav hr {
    width: 95%;
}
  
.main {
    margin-left: 210px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* ADMIN COMPUTERS SECTION */
.admin-card {
    margin: 10px;
}
.cards-admin a {
    text-decoration: none;
    color: var(--black);
    font-size: 15px;
    font-family: var(--main-font2);
    padding: 10px;
    margin: 10px 0;
}

.btn-del {
    background-color: var(--red);
    width: 100px;
}

.btn-chg {
    background-color: var(--orange);
    width: 100px;
}

.btn-view {
    background-color: var(--green);
    width: 100px;
}

.card-create {
    border: lightgrey 3px solid;
    padding: 100px;
    font-size: 30px;
    border-radius: 10px;   
}

.cards-admin {
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.cards-admin input {
    width: 100px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 15px;
    background-color: var(--red);
    padding: 10px;
    font-family: var(--main-font2);
    color: var(--black);
}

/* CREATE FORM */
.create-form {
    text-align: center;
}

.create-form > form {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
}

.delete > input[type=submit] {
    cursor: pointer;
    width: 100%;
    background-color: var(--red);
    padding: 10px;
    margin: 0;
    color: var(--black);
    margin: -25px 0;
}

.register > input[type=submit] {
    cursor: pointer;
    width: 100%;
    background-color: var(--main-color);
    padding: 10px;
    margin: 0;
    color: var(--black);
    margin: -25px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 45%;
    padding: 10px;
    margin: 10px;
    font-size: 23px;
}

.form-group > input {
    background-color: transparent;
    border: none;
    color: var(--white);
    margin: 0 0 0 10px;
    font-size: 19px;
}

.form-group > select {
    background-color: transparent;
    border: none;
    color: var(--white);
    margin: 0 0 0 5px;
    overflow-y: hidden;
    width: 100%;
    font-size: 19px;
}

.form-group > textarea {
    background-color: transparent;
    border: none;
    color: var(--white);
    margin: 0 0 0 5px;
    overflow-y: hidden;
    width: 100%;
    font-size: 19px;
}

.form-group > select option {
    color: var(--black);
}

.form-group > select optgroup {
    color: var(--black);
}

.form-group > select option:hover {
    color: var(--main);    
}

.form-group > button {
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: var(--main-color);
    font-size: 19px;
}

/* FORUM SWITCH */
.check {
    display: flex;
    justify-content: space-around;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--black);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--main-color);
}
input:checked + .slider:before {
    background-color: var(--black);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px transparent;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* ADMIN DASHBOARD */
.admin-section {
    margin: 75px 0;
}

/* ADMIN STATS */
.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.stats-container {
    width: 20%;
    height: 150px;
    background-color: #111;
    border-radius: 10px;
}

.pending {
    border-left: var(--red) 5px solid;
}

.completed {
    border-left: var(--green) 5px solid;
}

.tickets {
    border-left: var(--blue) 5px solid;
}

.processing {
    border-left: var(--orange) 5px solid;
}

.stats-text {
    margin: 10px;
}

.stats-text h4 {
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-font2);
}

.stats-text p {
    text-align: center;
    font-size: 45px;
    margin-top: 20px;
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

/* ORDER SECTION */

.order-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--main4);
    border-radius: 10px;
}

.order {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: left;
    padding: 8px;
    width: 25%;
}
  
td {
    text-align: left;
    padding: 8px;
    border-top: var(--main-color) 1px solid;
}

/* FOOTER SECTION */
footer {
    background-color: var(--main);
    color: var(--white);
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-family: var(--main-font);
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: var(--white);
    text-decoration: none;
}

footer a:hover {
    color: var(--main-color);
}

footer h5 {
    font-size: 15px;
}

.footer-under {
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-under p {
    margin: 0 10px;
}